/* 
    Document   : kouguu_fb_like.css
    Created on : 23.04.2010, 17:36:12
    Author     : nicolas
    Description:
        
*/

kouguu_fb_like_button {
    display: block;
    padding: 5px 0px;
}

